@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:italic);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

body{
	background-color: #efefef;
	font-family: Georgia, "Times New Roman", Times, serif,monospace;
	color: #434343;
	font-size: 100%;
	background: #efefef url("../images/background.png") repeat top center;
	padding:20px 0;
	position:relative;
	z-index:0;
	-webkit-font-smoothing: subpixel-antialiased;

}

div.hr {display: block; height: 3px;
    border: 0; border-top: 1px solid  #F52887;
    margin: 1em 0; padding: 0;    
    }
div.hr hr {display: block;}

/* Header Styles */

.header{
	/*color: #f5f5f5;
	text-align: center;
	*/
}
div.header{
	margin-top: -18px;
	margin-left: -4px;
	/*
	margin-bottom: 1em;
	background-color: #4c2d1a;
	-moz-box-shadow: 3px 3px 6px #ccc;
	-webkit-box-shadow: 3px 3px 6px #ccc;
	box-shadow: 3px 3px 6px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	*/
}
.header header{
	/*
	font-style: italic;
	font-size: 2.5em;
	font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;
	*/
}
.header a.header{
	text-decoration: none;
}

/* Content area */
.content{
	padding: 3em 1em;
	/*border-left: groove 2px #fff;*/
}

.content .amp{
	font-family: "IM Fell DW Pica", Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.content .centered{
	text-indent: 0; text-align: center; font-style: italic;
	line-height: 1em;
	margin-bottom: 1em;
	font-size: 1.2em;
	font-family: 'IM Fell DW Pica', Georgia, "Times New Roman", Times, serif;
}

.content p{
	text-align: justify;
	text-indent: 1.5em;
}
.content a:link{
	color: #4c2d1a;
	text-decoration: underline;
}

.content a:visited{
	color: #764628;
	text-decoration: underline;
}

.content a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #4c2d1a;
}

.content ul{
	list-style-image: url("../images/bullet.png");
}

.content li{
	line-height: 1.5em;
}

.content .page-listing a:link{
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}
.content dl>dt{
	font-weight: normal;
	font-size: 1.2em;
}

.content dl>dd{
	font-style: italic;
	margin-bottom: 1em;
}

.content img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: double 4px #c5c5c5;
	margin-top: 1em;
	margin-bottom: 1em;
}
.content h1{
	font-family: "IM Fell English SC", Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 2em;
	color: #707070;
}
.content h2{
	font-family: "IM Fell DW Pica", Georgia, "Times New Roman", Times, serif;
	font-size: 1.8em;
	font-style: italic;
	color: #707070;
}
.content h3{
	font-family: "IM Fell English SC", Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #707070;
	text-align: center;
}

.content pre{
	font-size: .8em;
}

.content code{
	background: #eee8d5;
	padding: .2em;
	font-size: .8em;
}
.content blockquote p{
	text-align: left;
	/*background: url("../images/quotes.png") no-repeat;*/
	padding: .5em 2em;
	border-top: dotted 2px;
	border-bottom: dotted 2px;
}

.content strong{
	font-variant: small-caps;
	font-weight: normal;
}
/* sidebar */
.sidebar{
	padding: 18px;
	padding-right: 9px;
}

.sidebar .nav {
	font-family: "IM Fell English SC", Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
}

.sidebar .nav a{
	padding-left: 2px;
	padding-right: 2px;
}
.sidebar .nav a:link, .nav a:visited{
	color: #4c2d1a;
	text-decoration: none;
}

.sidebar .nav a:hover{
	background-color: #4c2d1a;
	color: #fff;
}
.sidebar .nav ul{
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	line-height: 1.2em;
	text-align: right;
}
/* pygments */
.highlight code, pre{
	padding: .5em 1em;
	/*overflow-x: auto;*/
	overflow: auto;
	border: double 4px #c5c5c5;
	margin: 0px;
}
/* img_slider */

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}


#container {
	width:580px;
	padding:0px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:580px;
	height:350px;
	margin:0 auto;
	position:relative;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:none;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

		/*
			Load CSS before JavaScript
		*/
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		#slides_two .slides_container {
			width:550px;
			height:330px;
			display:none;
			padding:10px;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		
		#slides_two .slides_container div {
			width:250px;
			height:250px;
			display:block;
		}
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		#slides_three .slides_container {
			width:200px;
			display:none;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		
		#slides_three .slides_container div {
			width:200px;
			height:100px;
			display:block;
		}
		
		/* 
			Example only
		*/
		.pagination .current a {
			color:red;
		}
		hr {
			background:#efefef;
		}
	