<a class="header" href="{{site.url}}/index.html">
<div class="header" id="header-container">
	<div class="header" id="header-home">
		<div class="span-8">
			<div class="header" id="box-1">
				<header class="header">{{page.header}}</header>
				<p class="header">{{page.description}}</p>
			</div>
		</div>
		<div class="span-16 last">
			<div class="header" id="box-2">
			</div>
		</div>
		<!--
		<div class="span-8">
			<div class="header" id="box-2">
				<h1 class="header">{% block header_box_2_h1 %}{% endblock %}</h1>
				<p class="header">{% block header_box_2_p %}{% endblock %}</p>
			</div>
		</div>
		<div class="span-8 last">
			<div class="header" id="box-2">
				<h1 class="header">{% block header_box_3_h1 %}{% endblock %}</h1>
				<p class="header">{% block header_box_3_p %}{% endblock %}</p>
			</div>
		</div>
		-->
	</div>
</div>
</a>

<!--
{% block breadcrumbs %}
{% include "skeleton/_breadcrumbs.html"%}
{% endblock %}

{% block context_nav %}
{% endblock %}

{% block sitenav %}
{% include "skeleton/_site_nav.html" %}
{% endblock %}
-->
