<div class="span-4">
	<div class="sidebar">
		<div class="header">
			<a class="header" href="{{site.url}}/">
				<img alt="header" src="{{site.url}}/media/images/header.png"/>
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="{{site.url}}/about.html">About</a></li>
				<li><a href="{{site.url}}/projects/projects.html">Projects</a> </li>
				<li><a href="{{site.url}}/blog/index.html">Blog</a> </li>
				<li><a href="{{site.url}}/resume.html">Resume</a></li>
				<li><a href="mailto:rahul.nbg@gmail.com">Contact</a></li>
				
			</ul>
		</div>
	</div>
</div>

