{% extends "_post.html" %}

{%load webdesign %}

{%hyde
title: The Importance Of Planning
snippet: A failure to plan is a plan to fail. 
created: 2011-01-17 11:49:38
updated: 2011-01-17 11:49:38
published: 2011-01-17 11:49:38
%}

{% block article %}
{%article%}

{% excerpt %}

I consider myself to be a planner. Not a day goes by without me making plans of every sort. From what I should be doing for the day, to what I want or need accomplished by the end of the month. I try to plan out every part of my day, even if they're just little plans.

{%endexcerpt%}

<h2 id="kinds-of-plans">Kinds of Plans</h2>
### "To Do" List

Most of my plans are plain old "To Do" lists. I just list down (in my head or on paper) things I need to do.  

{%endarticle%}
{% endblock %}
